{% extends "base.html" %}

{% block content %}

<h2>Vendas</h2>

{% if vendas %}
<table class="table table-hover align-middle">
    <thead>
        <tr>
            <th>#</th>
            <th>Cliente</th>
            <th>Data</th>
            <th class="text-center">Status</th>
            <th class="text-end">Valor</th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>

    <tbody>
        {% for venda in vendas %}
        <tr>
            <td>#{{ venda.id }}
            </td>

            <td><a href="{% url 'clientes:venda_detail' venda.id %}">
                    #{{ venda.cliente }}</a></td>

            <td>{{ venda.data|date:"d/m/Y" }}</td>

            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <span class="badge {{ venda.status_badge_class }} px-3 py-2">
                        {{ venda.get_status_financeiro_display }}
                    </span>
                </div>
            </td>

            <td class="text-end">
                R$ {{ venda.valor_total|floatformat:2 }}
            </td>

            <td class="text-center">
                <div class="d-flex justify-content-center gap-2">
                    {% if venda.orcamento %}
                    <a href="{% url 'clientes:orcamento_detail' venda.orcamento.id %}">
                        Ver orçamento
                    </a>
                    {% else %}
                    <span class="text-muted">Sem orçamento</span>
                    {% endif %}


                    <button class="btn btn-sm btn-outline-secondary" disabled title="Disponível em breve">
                        Gerar NFS-e
                    </button>
                </div>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Nenhuma venda registrada.</p>
{% endif %}

{% endblock %}